@import './variables';
@font-face {
  font-family: Inconsolata;
  src: url('../fonts/inconsolata.ttf');
}
@font-face {
  font-family: SourcePro;
  src: url('../fonts/SourceSansPro.ttf');
}

body {
  font-family: Inconsolata;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.app-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #2d2d2d;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.49650349650349646) 0%,
    rgba(255, 255, 255, 0.8) 83%
  );
  background: url('../img/border-section.svg') no-repeat bottom left;
  margin-bottom: -0.3rem !important;
  .items {
    position: absolute;
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
    height: 100vh;
    width: 100%;
    background: url('../img/bg-item-1.svg'), url('../img/bg-item-1.svg'),
      url('../img/bg-item-2.svg'), url('../img/bg-item-2.svg'),
      url('../img/bg-item-3.svg'), url('../img/bg-item-4.svg'),
      url('../img/bg-item-4.svg'), url('../img/bg-item-2.svg'),
      url('../img/bg-item-3.svg'), url('../img/bg-item-1.svg'),
      url('../img/bg-item-2.svg'), url('../img/bg-item-4.svg'),
      url('../img/bg-item-1.svg'), url('../img/bg-item-4.svg'),
      url('../img/bg-item-2.svg'), url('../img/line-1.svg'),
      url('../img/line-2.svg'), url('../img/line-1.svg');
    background-position: 2% 75%, 80% 90%, 5% 90%, 40% 25%, 36% 19%, 0% 35%,
      25% 90%, 75% 20%, 22% 45%, 85% 70%, 50% 50%, 60% 75%, 23% 50%, 10% 0%,
      35% 1%, 40% 98%, 55% 98%, 80% 60%;
    background-repeat: no-repeat;

    @media screen and(max-width : 991px) {
      display: none;
    }
  }

  .item1 {
    height: 100vh;
    width: 100%;
    background: url('../img/line-1.svg') no-repeat 80% bottom;
  }

  .navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .custom-collapse {
      @media screen and (max-width: 991px) {
        background-color: $bgBtn;
      }
    }
  }

  .nav-item {
    font-family: Inconsolata;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: $textColor !important;
    &hover {
      color: black;
      transition: 1s;
    }
    @media screen and (max-width: 991px) {
      color: white !important;
    }
  }

  .hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    .text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media screen and (max-width: 991px) {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center !important;
        text-align: center !important;
      }
    }
    .timeline-area {
      margin-top: 5vh;
      width: 360px;
      border-right: 1px solid #2d2d2d;
      padding: 0 5px 0 0;
      .item {
        color: $textColor;
        padding: 3.5rem 0;
        h4 {
          font-weight: 700;
        }
        span {
          font-family: SourcePro;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1rem;
        }
        h4:after {
          content: '-';
          width: 0;
          height: 0;
          position: absolute;
        }
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    .timeline-mobile {
      display: none;

      margin-top: 1rem;
      .item {
        color: $textColor;
        padding: 0.5rem 15px;
        span {
          font-family: SourcePro;
          font-size: 10pxrem;
          font-weight: 400;
          line-height: 1rem;
        }
      }
      @media screen and (max-width: 991px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @media screen and(min-width:991px) {
      max-width: 90% !important;
    }
  }
}

//Header
.title {
  font-family: Inconsolata;
  font-weight: 400;
  line-height: 1;
}

.btn-main {
  color: whitesmoke;
  font-weight: 800;
  text-align: center;
  background-color: $bgBtn;
  border-radius: $borderRadius !important;
  border-color: $bgBtn;
  &:hover {
    background-color: $textColor;
    color: whitesmoke !important;
    border-color: $textColor;
  }
  &:active {
    background-color: $textColor;
    color: whitesmoke !important;
    border-color: $textColor;
  }
  &:focus {
    background-color: $textColor;
    color: whitesmoke !important;
    border-color: $textColor;
    box-shadow: none;
  }
  &.size-sm {
    width: 20%;
  }
}

.section-broken {
  background-color: $bgSection;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;

  h3 {
    color: $textBroken;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }
  p {
    color: $textBroken;
    font-family: SourcePro;
    font-size: 16px;
    line-height: 30px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 991px) {
    .reverse {
      flex-direction: row-reverse !important;
    }
  }

  @media screen and (max-width: 991px) {
    h3 p {
      text-align: center !important;
    }
  }
}

.section-title {
  display: flex;
  margin: 90px 0;
  h2 {
    width: 100%;
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 800;
    &.paradigm {
      color: #333333;
    }
  }
  span {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    color: #8e8e8e;
    transform: rotate(-90deg);
  }
  @media screen and (max-width: 991px) {
    margin: 30px 0 !important;
    h2 {
      font-size: 22px;
      line-height: 23px;
      letter-spacing: 0.24em;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.2em;
    }
  }
}

.section-paradigm {
  background: white url('../img/border-rotate.svg') no-repeat top right;
  min-height: 80vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: $textColor;

  .bg-item {
    position: absolute;
    transform: rotate(90deg);
    left: 4%;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .item {
    .image {
      display: flex;
      justify-content: center;
      height: 80px;
    }
    .title {
      display: block;
      font-size: 1.1rem;
      font-weight: 900;
    }
    p {
      color: #555555;
      display: block;
      font-size: 1rem;
      font-family: SourcePro;
      text-align: left;
    }
  }
  @media screen and (max-width: 991px) {
    background: white !important;
  }
}

.section-marketplace {
  background: url('../img/bg-open-market.jpg') no-repeat fixed center !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: $textColor;
  .item {
    color: $textMarketPlace;
    .title {
      font-family: SourcePro !important;
      font-weight: 900;
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
    p {
      font-family: SourcePro !important;
      font-size: 1rem;
      line-height: 30px;
    }
  }
}

.litle-section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    display: block;
    font-family: SourcePro;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    line-height: 40px;
  }
  background: white url('../img/border-section.svg') no-repeat bottom left;
}

.footer {
  background: $bgSection;
  color: whitesmoke;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    padding: 1rem 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
  & .border-r {
    border-right: 1px solid rgba($color: #fff, $alpha: 0.2) !important;
    @media screen and (max-width: 991px) {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2) !important;
      border-right: none !important;
    }
  }

  .questions {
    text-align: center !important;
    display: flex;
    font-family: SourcePro;
    justify-content: center;
    align-items: center;
    button.btn-main.btn {
      background-color: $bgBtn;
      box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.13);
    }
  }
}
.copy {
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba($color: #fff, $alpha: 0.2);
  background-color: $bgCopy;
  text-align: center;
  height: 2rem;
}
